<?xml version="1.0" encoding="utf-8" ?>
<module>
	<tasks>
		<!-- Modify is same as Add, Edit, Read, Delete -->
		<task name="Editor"
			  permissions="Read, Edit" />
	</tasks>
	
	<pages>
		<page pattern="Default.aspx"
			  access="ViewPage" />
			  
		<page pattern="Edit.aspx"
			  transform="Default.aspx?edit=true" 
			  access="Editor" />
	</pages>
</module>