<?xml version="1.0" encoding="UTF-8"?>
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
	<!-- Configure Sections-->
	<configSections>
		<sectionGroup name="managedFusion" type="ManagedFusion.Configuration.ManagedFusionSectionGroup, ManagedFusion">
			<section name="communityConfigurationManager" type="ManagedFusion.Configuration.CommunityConfigurationManagerSection, ManagedFusion" />
			<section name="communityPathManager" type="ManagedFusion.Configuration.CommunityPathManagerSection, ManagedFusion" />
			<section name="databaseManager" type="ManagedFusion.Data.DatabaseManagerSection, ManagedFusion" />
			<section name="syndicationManager" type="ManagedFusion.Syndication.SyndicationManagerSection, ManagedFusion" />
		</sectionGroup>
	</configSections>
	<!-- ManagedFusion -->
	<managedFusion>
		<!-- Configuration Manager -->
		<communityConfigurationManager defaultProvider="Folder">
			<providers>
				<add name="Folder" type="ManagedFusion.Configuration.Folder.FolderConfigurationProvider, ManagedFusion" />
			</providers>
		</communityConfigurationManager>
		<!-- Path Manager -->
		<communityPathManager defaultProvider="Folder">
			<providers>
				<add name="Folder" type="ManagedFusion.Configuration.Folder.FolderPathProvider, ManagedFusion" />
			</providers>
		</communityPathManager>
		<!-- Database Manager -->
		<databaseManager defaultProvider="SqlServer" defaultConnectionStringName="ManagedFusion">
			<providers>
				<add name="SqlServer" type="ManagedFusion.Data.SqlServer2000.SqlServerProvider, ManagedFusion.Data.SqlServer2000" connectionStringName="ManagedFusion" />
			</providers>
		</databaseManager>
		<!-- Syndication Manager -->
		<syndicationManager>
			<providers>
				<add name="Feed" type="ManagedFusion.Syndication.AtomFeed.AtomFeedProvider, ManagedFusion" />
				<add name="SiteMapIndex" type="ManagedFusion.Syndication.SitemapIndex.SitemapIndexProvider, ManagedFusion" />
				<add name="SiteMap" type="ManagedFusion.Syndication.Sitemap.SitemapProvider, ManagedFusion" />
			</providers>
		</syndicationManager>
	</managedFusion>
	<!-- Connection Strings -->
	<connectionStrings>
		<clear />
		<add connectionString="Server=localhost;Database=ManagedFusion;Integrated Security=true" name="ManagedFusion" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<!-- System.Web -->
	<system.web>
		<!-- Http Modules -->
		<httpModules>
			<add name="Portal" type="ManagedFusion.PortalModule, ManagedFusion" />
		</httpModules>
		<!-- Http Handlers -->
		<httpHandlers>
			<add verb="*" path="*" type="ManagedFusion.PortalHandlerFactory, ManagedFusion" validate="false" />
		</httpHandlers>
		<!-- Trace -->
		<trace enabled="true" />
		<!-- Compilation -->
		<compilation defaultLanguage="c#" debug="true" batch="true" />
		<!-- Custom Errors -->
		<customErrors mode="Off" />
		<!-- Authentication -->
		<authentication mode="Forms">
			<forms name=".OmniPortalAuthentication" protection="Validation" timeout="30" path="/" slidingExpiration="true" />
		</authentication>
		<!-- Membership Provider -->
		<membership defaultProvider="Portal" userIsOnlineTimeWindow="15">
			<providers>
				<clear />
				<add name="Portal" type="OmniPortal.Security.PortalMembershipProvider, OmniPortal" applicationName="/" />
			</providers>
		</membership>
		<!-- Role Provider -->
		<roleManager defaultProvider="Portal" enabled="true" cacheRolesInCookie="true" cookieName=".OmniPortalAuthorization" cookieTimeout="30" cookiePath="/" cookieRequireSSL="true" cookieSlidingExpiration="true" cookieProtection="All">
			<providers>
				<clear />
				<add name="Portal" type="OmniPortal.Security.PortalRoleProvider, OmniPortal" applicationName="/" />
			</providers>
		</roleManager>
		<!-- SiteMap Provider -->
		<siteMap defaultProvider="Portal">
			<providers>
				<add name="Portal" type="ManagedFusion.PortalSiteMapProvider, ManagedFusion" />
			</providers>
		</siteMap>
		<!-- Session State -->
		<sessionState mode="InProc" cookieless="AutoDetect" cookieName=".OmniPortalSessionState" />
		<!-- Globalization -->
		<globalization enableClientBasedCulture="true" requestEncoding="utf-8" responseEncoding="utf-8" />
		<!-- Pages -->
		<pages buffer="true" enableSessionState="false" enableViewState="true" maintainScrollPositionOnPostBack="true">
			<namespaces>
				<add namespace="ManagedFusion" />
				<add namespace="OmniPortal" />
			</namespaces>
		</pages>
	</system.web>
</configuration>
