<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="DefaultLanguage" value="en-US" />
		<!-- The Default theme to be used -->
		<add key="DefaultTheme" value="Zigamorph" />
		<!-- The Default style to be used -->
		<add key="DefaultStyle" value="Default" />
		<!-- The default control to use for skin's template -->
		<add key="DefaultSkinTemplate" value="Template.master" />
		<!-- The default page handler -->
		<add key="DefaultPageHandler" value="ManagedFusion.PortalPage, ManagedFusion" />
		<!-- The type of expiration can be set to
			key=[Sliding|Absolute|Default]
			-->
		<add key="ExpirationType" value="Sliding" />
		<!-- The number of minutes to keep the cache in memory without anything accessing it -->
		<add key="CacheTime" value="30.0" />
		<!-- Database connection string -->
		<add key="DatabaseConnectionString" value="Data Source=.\SQLEXPRESS;AttachDbFilename=M:\Users\Nick\Projects\NET2.0\OmniPortal\Source\Website\App_Data\OmniPortal.mdf;Integrated Security=True;Application Name=OmniPortal" />
		<!-- This is used to determine how long the database should stay in memory before being forced to refresh. -->
		<add key="DatabaseCacheTime" value="30.0" />

		<!-- Community Specific values -->
		<add key="DatabaseAlias" value="OmniPortalSqlServer" />
	</appSettings>
</configuration>