<?xml version="1.0" encoding="utf-8" ?>
<module>
	<tasks>
		<!-- Modify is same as Add, Edit, Read, Delete -->
		<task name="Poster"
			  permissions="Modify" />

		<task name="Commentor" 
			  permissions="Read, Add" />
	</tasks>

	<pages>
		<!-- Admin Pages -->
		
		<page pattern="^admin/Default.aspx$"
			  control="Admin/Default.ascx"
			  access="Poster" />
		
		<page pattern="^admin/AddPost.aspx$"
			  control="Admin/Post.ascx" 
			  transform="Admin/Post.aspx?type=add" 
			  access="Poster" />
			  
		<page pattern="^admin/AddCategory.aspx$"
			  control="Admin/Category.ascx"
			  transform="Admin/Category.aspx?type=add"
			  access="Poster" />
			  
		<page pattern="^admin/Edit(?&lt;post&gt;\d+).aspx$"
			  control="Admin/Post.ascx"
			  transform="Admin/Post.aspx?type=edit&amp;post=${post}"
			  access="Poster" />
			  
		<!-- User Pages -->

		<page pattern="^(?&lt;year&gt;\d{4})/(?&lt;month&gt;\d{1,2})/?(Default.aspx)?$"
			  control="List.ascx"
			  transform="List.aspx?year=${year}&amp;month=${month}"
			  access="ViewPage" />

		<page pattern="^(?&lt;year&gt;\d{4})/(?&lt;month&gt;\d{1,2})/(?&lt;day&gt;\d{1,2})/?(Default.aspx)?$"
			  control="List.ascx"
			  transform="List.aspx?year=${year}&amp;month=${month}&amp;day=${day}"
			  access="ViewPage" />

		<page pattern="^archive/(?&lt;post&gt;\d+).aspx$"
			  control="Post.ascx"
			  transform="Post.aspx?post=${post}"
			  access="ViewPage;Commentor" />
			  
		<page pattern="^Default.aspx$"
			  control="List.ascx"
			  access="ViewPage" />
			  
		<page pattern="^Feed.atom$"
			  transform="Default.aspx?feed"
			  access="ViewPage" />
	</pages>
</module>
