<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="DefaultLanguage" value="en-us" />
		<!-- The Default theme to be used -->
		<add key="DefaultTheme" value="Default" />
		<!-- The Default style to be used -->
		<add key="DefaultStyle" value="Default" />
		<!-- The default control to use for skin's template -->
		<add key="DefaultSkinTemplate" value="Template.master" />
		<!-- The default page handler -->
		<add key="DefaultPageHandler" value="ManagedFusion.PortalPage, ManagedFusion" />
		<!-- The type of expiration can be set to
			key=[Sliding|Absolute|Default]
			-->
		<add key="ExpirationType" value="Sliding" />
		<!-- The number of minutes to keep the cache in memory without anything accessing it -->
		<add key="CacheTime" value="30.0" />
		<!-- This is used to determine how long the database should stay in memory before being forced to refresh. -->
		<add key="DatabaseCacheTime" value="30.0" />
	</appSettings>
</configuration>