<?xml version="1.0" encoding="utf-8" ?>
<module>
	<tasks>
		
		<task name="Admin"
			  permissions="Administrate" />
			  
	</tasks>

	<pages>
		<!-- Admin Pages -->
		
		<page pattern="^Default.aspx$"
			  control="Default.ascx"
			  access="Admin" />

		<page pattern="^Community.aspx$"
			  control="Community.ascx"
			  access="Admin" />

		<page pattern="^Site.aspx$"
			  control="Site.ascx"
			  access="Admin" />
			  
		<page pattern="^Section.aspx$"
			  control="Section.ascx"
			  access="Admin" />
			  
		<page pattern="^Container.aspx$"
			  control="Container.ascx"
			  access="Admin" />

		<page pattern="^Portlet.aspx$"
			  control="Portlet.ascx"
			  access="Admin" />

	</pages>
</module>
